@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #2c2c2c;
  background-color: #f9f9f9;
}
a {
  color: #7e72f2;
  text-decoration: none;
}
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 15px;
  }
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.button_medium {
  height: 45px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.button_icon {
  width: 46px;
  height: 40px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}
.button_primary {
  color: #fff;
  background-color: #6f64f8;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.button_primary:hover {
  background-color: #7e72f2;
}
.button_white {
  color: #2c2c2c;
  background-color: #fff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.button_white:hover {
  background-color: #d4d4d4;
}
.button_secondary {
  color: #2c2c2c;
  background-color: #ededed;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.button_secondary:hover {
  background-color: #d4d4d4;
}
.category {
  width: 100%;
  margin-top: 44px;
}
.category__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.category__sidebar,
.category__main {
  padding: 0 15px;
}
.category__sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 560px;
}
.category__main {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .category__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .category__sidebar {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.header {
  padding: 30px 0;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo-img {
  margin-right: 22px;
}
.header__logo-text {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 27px;
  color: #7e72f2;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 0;
}
.pagination__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ededed;
  border-radius: 20px;
  overflow: hidden;
}
.pagination__item-link,
.pagination__item-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border-radius: 100%;
}
.pagination__item-link {
  color: #2c2c2c;
  background-color: #ededed;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.pagination__item-link:hover {
  background-color: #ddd;
}
.pagination__item-current {
  color: #fff;
  background-color: #6f64f8;
}
.pagination__previous {
  margin-right: 18px;
}
.pagination__next {
  margin-left: 18px;
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
.breadcrumbs__item {
  position: relative;
  padding-right: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.breadcrumbs__item:not(:first-child) {
  padding-left: 14px;
}
.breadcrumbs__item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 14px;
  height: 8px;
  background: url("./images/icons/chevrons-right.svg") no-repeat 50% 50%;
  background-size: cover;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.breadcrumbs__home {
  display: block;
  width: 16px;
  height: 16px;
  background: url("./images/icons/home.svg") no-repeat 50% 50%;
  background-size: cover;
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}
.filter__header-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.filter__body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 28px;
  width: 100%;
  padding: 20px 48px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}
.filter__item {
  width: 100%;
  max-width: 378px;
  padding-bottom: 38px;
}
.filter__item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}
.filter__item:not(:first-child) {
  padding-top: 34px;
}
.filter__item-title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.filter__item-group {
  position: relative;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.filter__item-label {
  position: relative;
  display: inline-block;
  padding-left: 34px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter__item-checkbox:not(:checked),
.filter__item-radio:not(:checked),
.filter__item-checkbox:checked,
.filter__item-radio:checked {
  position: absolute;
  pointer-events: none;
  margin-left: -20px;
  padding: 0;
  opacity: 0;
}
.filter__item-radio + .filter__item-label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 18px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 0;
}
.filter__item-checkbox + .filter__item-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 18px;
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 0;
}
.filter__item-radio:checked + .filter__item-label::before,
.filter__item-checkbox:checked + .filter__item-label::before {
  background-color: #6f64f8;
  border-color: transparent;
}
.filter__item-count {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
}
.filter__clearButton {
  height: 56px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}
@media screen and (max-width: 1200px) {
  .filter__body,
  .filter__clearButton {
    display: none;
  }
}
.search__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}
.search__results-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.search__form {
  position: relative;
}
.search__form-input {
  display: block;
  width: 100%;
  height: 62px;
  padding-left: 32px;
  padding-right: 58px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  outline: 0;
}
.search__form-input::-webkit-input-placeholder {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #999;
}
.search__form-input::-moz-placeholder {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #999;
}
.search__form-input:-ms-input-placeholder {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #999;
}
.search__form-input::-ms-input-placeholder {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #999;
}
.search__form-input::placeholder {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #999;
}
.search__form-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  overflow: hidden;
}
.product__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: 300px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 30px 10px 10px 10px;
}
.product__image {
  display: block;
  max-width: 100%;
}
.product__rating-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 30px;
  padding: 0 24px;
}
.product__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 6px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #6f64f8;
  border-radius: 3px;
}
.product__rating-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__rating-text:after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  height: 14px;
  width: 14px;
  background: url("./images/icons/star.svg") no-repeat 50% 50%;
  background-size: cover;
}
.product__price {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #2c2c2c;
}
.product__info {
  padding: 16px 24px 22px;
}
.product__name {
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 164px;
  line-height: 19px;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
}
.product__description {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}
.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.product__wishlist,
.product__addToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product__wishlist::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url("./images/icons/heart.svg") no-repeat 50% 50%;
  background-size: cover;
}
.product__addToCart::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url("./images/icons/shopping-bag.svg") no-repeat 50% 50%;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .product {
    max-width: 100%;
  }
}
.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -14px;
}
.product-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  height: 486px;
  margin-top: 28px;
  padding: 0 14px;
}
@media screen and (max-width: 768px) {
  .product-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 480px) {
  .product-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
/*# sourceMappingURL=style.css.map */
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}
h3,
h4 {
  margin-bottom: 22px;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
.os-container {
  display: block;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.os-overflow-text-hidden {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.os-header {
  padding-top: 26px;
  padding-bottom: 26px;
}
.os-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.os-logo-img {
  width: 91px;
  height: 72px;
}
.os-logo-text {
  display: inline-block;
  padding-left: 22px;
  font-weight: 600;
  font-size: 48px;
  color: #7e72f2;
}
.os-breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.os-breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 12px;
}
.os-breadcrumb-item:last-child .os-breadcrumb-link {
  padding-right: 0;
  font-size: 0.875rem;
  color: #2c2c2c;
  cursor: default;
}
.os-breadcrumb-item:last-child .link-icon {
  display: none;
}
.os-breadcrumb-link {
  text-decoration: none;
  color: #7e72f2;
}
.os-breadcrumb .link-icon {
  padding-left: 12px;
  font-size: 0.75rem;
  color: #000;
}
.os-products {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}
.os-products-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 22px;
}
.os-products-title {
  font-weight: 400;
  margin-bottom: 0;
}
.os-products .wish-list {
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.os-products .wish-icon {
  font-size: 1.125rem;
}
.os-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin: 30px 0;
}
.os-products-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 24px;
}
.os-product-card {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}
.os-product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 12px 12px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.os-product-content {
  padding: 22px 24px;
}
.os-product-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}
.os-product-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 70px;
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #7e72f2;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}
.os-product-price {
  color: #2c2c2c;
  font-size: 1.125rem;
  font-weight: 400;
}
.os-product-title,
.os-product-description {
  margin: 0;
  font-weight: normal;
  color: #2c2c2c;
}
.os-product-title {
  font-size: 1rem;
  margin-bottom: 8px;
}
.os-product-description {
  font-size: 0.75rem;
}
.os-product-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.os-product-footer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 0;
}
.os-product-wish-icon,
.os-product-shopping-bag {
  display: inline-block;
  margin-right: 3px;
}
.os-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.125rem;
}
.os-pagination a {
  line-height: 1;
  text-decoration: none;
}
.os-pagination .previous,
.os-pagination .next {
  color: #000;
}
.os-pagination .previous {
  margin-right: 15px;
}
.os-pagination .next {
  margin-left: 15px;
}
.os-pagination .page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  list-style: none;
  border-radius: 20px;
}
.os-pagination .page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ededed;
  border-radius: 20px;
  color: #2c2c2c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.os-pagination .page-link:hover,
.os-pagination .page-link.active {
  background-color: #7e72f2;
  color: #fff;
}
.os-btn-white,
.os-btn-default,
.os-btn-primary {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.os-btn-primary {
  background-color: #7e72f2;
  color: #fff;
}
.os-btn-primary:hover {
  background-color: #6d5ff0;
}
.os-btn-default {
  background-color: #ededed;
  color: #000;
}
.os-btn-default:hover {
  background-color: #e3e3e3;
}
.os-btn-white {
  background-color: #fff;
  color: #606060;
}
.os-btn-white:hover {
  background-color: #f5f5f5;
}
.os-filters-panel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 22px;
}
.os-filters-panel-title {
  margin-bottom: 0;
  font-weight: 400;
}
.os-filters-panel .toggle-filters {
  font-size: 1.125rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.os-filters-panel-content {
  padding: 0 30px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.os-filters-panel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 18px;
}
.os-filters-panel-item .os-form-checkbox {
  margin-bottom: 0;
}
.os-filters-panel-item .amount {
  display: inline-block;
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 300;
  color: #2c2c2c;
}
.os-filters-panel .clear-filters {
  width: 100%;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  font-size: 1.125rem;
}
.os-form-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 22px;
}
.os-form-group {
  padding-top: 25px;
  padding-bottom: 20px;
}
.os-form-group.divider {
  border-bottom: 1px solid #d6d6d6;
}
.os-form-radio > input,
.os-form-checkbox > input {
  display: none;
}
.os-form-radio > input:checked + label::before,
.os-form-checkbox > input:checked + label::before {
  border-color: #7e72f2;
  background-color: #7e72f2;
}
.os-form-radio > label,
.os-form-checkbox > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  color: #2c2c2c;
  cursor: pointer;
}
.os-form-radio > label::before,
.os-form-checkbox > label::before {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 12px;
  border: 1px solid #979797;
}
.os-form-radio > label::before {
  width: 17px;
  height: 15px;
  border-radius: 50%;
}
.os-form-checkbox > label::before {
  width: 20px;
  height: 17px;
  border-radius: 3px;
}
.os-form-input > input {
  width: 100%;
  padding: 16px 35px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  font-size: 1.375rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.os-form-input > input:focus,
.os-form-input > input:focus-visible {
  border: none;
  outline: none;
}
.os-form-input.use-icon {
  position: relative;
}
.os-form-input.use-icon > input {
  padding-right: 70px;
}
.os-form-input.use-icon .input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 40px;
  top: 0;
  font-size: 1.375rem;
  color: #606060;
}
